[submodule "submodule/spdlog"]
	path = submodule/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodule/CPM.cmake"]
	path = submodule/CPM.cmake
	url = https://github.com/TheLartians/CPM.cmake/
[submodule "submodule/scnlib"]
	path = submodule/scnlib
	url = https://github.com/eliaskosunen/scnlib
[submodule "submodule/quill"]
	path = submodule/quill
	url = https://github.com/odygrd/quill
[submodule "submodule/cista"]
	path = submodule/cista
	url = https://github.com/felixguendling/cista
[submodule "submodule/doctest"]
	path = submodule/doctest
	url = https://github.com/onqtam/doctest
[submodule "submodule/fmt"]
	path = submodule/fmt
	url = https://github.com/fmtlib/fmt
